pos-web-fix18-06/n8n-workflow.json
{
  "name": "餐車 POS 訂單自動化",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pos-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "接收 POS 訂單",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pos-order-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Order received', orderId: $json.body.orderId }) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "回應 POS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "// 格式化訂單資料\nconst body = $input.first().json.body;\n\n// 格式化商品明細字串\nconst itemsText = body.items\n  .map(i => `${i.name} x${i.qty} = NT$${i.subtotal}`)\n  .join('\\n');\n\n// 付款方式中文\nconst paymentMap = {\n  cash: '現金',\n  linepay: 'LINE Pay',\n  card: '信用卡',\n  transfer: '轉帳'\n};\n\nreturn [{\n  json: {\n    orderId: body.orderId,\n    createdAt: body.createdAt,\n    customerName: body.customer?.name || '',\n    customerPhone: body.customer?.phone || '',\n    customerLineId: body.customer?.lineId || '',\n    itemsText: itemsText,\n    paymentMethod: paymentMap[body.paymentMethod] || body.paymentMethod,\n    total: body.total,\n    note: body.note || '',\n    hasLineId: !!(body.customer?.lineId),\n    rawBody: body\n  }\n}];"
      },
      "id": "format-order",
      "name": "格式化訂單資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "訂單紀錄",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "訂單編號": "={{ $json.orderId }}",
            "時間": "={{ $json.createdAt }}",
            "顧客姓名": "={{ $json.customerName }}",
            "電話": "={{ $json.customerPhone }}",
            "LINE ID": "={{ $json.customerLineId }}",
            "商品明細": "={{ $json.itemsText }}",
            "付款方式": "={{ $json.paymentMethod }}",
            "總金額": "={{ $json.total }}",
            "備註": "={{ $json.note }}"
          }
        },
        "options": {}
      },
      "id": "write-sheets",
      "name": "寫入 Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-line-id",
              "leftValue": "={{ $json.hasLineId }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-line",
      "name": "有 LINE ID？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// 組裝 LINE 訊息\nconst d = $input.first().json;\n\nconst itemLines = d.rawBody.items\n  .map(i => `▸ ${i.name}  x${i.qty}  NT$${i.subtotal}`)\n  .join('\\n');\n\nconst message = [\n  '🍱 感謝您的購買！',\n  '以下是您的訂單明細：',\n  '',\n  `📋 訂單編號：${d.orderId}`,\n  `⏰ 時間：${d.createdAt}`,\n  '',\n  '─────────────',\n  itemLines,\n  '─────────────',\n  `💳 付款方式：${d.paymentMethod}`,\n  `💰 總計：NT$${d.total}`,\n  d.note ? `📝 備註：${d.note}` : '',\n  '',\n  '歡迎再次光臨！😊'\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { lineId: d.customerLineId, message } }];"
      },
      "id": "build-line-msg",
      "name": "組裝 LINE 訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.lineId }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send-line",
      "name": "發送 LINE 訊息",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// 只記錄，不發 LINE\nconst d = $input.first().json;\nconsole.log(`[POS] 訂單 ${d.orderId} 已寫入 Sheets，無 LINE ID，跳過推播`);\nreturn [{ json: { status: 'logged_only', orderId: d.orderId } }];"
      },
      "id": "log-only",
      "name": "僅記錄訂單",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "接收 POS 訂單": {
      "main": [
        [
          { "node": "回應 POS", "type": "main", "index": 0 },
          { "node": "格式化訂單資料", "type": "main", "index": 0 }
        ]
      ]
    },
    "格式化訂單資料": {
      "main": [
        [
          { "node": "寫入 Google Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "寫入 Google Sheets": {
      "main": [
        [
          { "node": "有 LINE ID？", "type": "main", "index": 0 }
        ]
      ]
    },
    "有 LINE ID？": {
      "main": [
        [
          { "node": "組裝 LINE 訊息", "type": "main", "index": 0 }
        ],
        [
          { "node": "僅記錄訂單", "type": "main", "index": 0 }
        ]
      ]
    },
    "組裝 LINE 訊息": {
      "main": [
        [
          { "node": "發送 LINE 訊息", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["POS", "餐車", "自動化"],
  "triggerCount": 1,
  "updatedAt": "2026-05-05T00:00:00.000Z",
  "versionId": "1"
}
